<tr th:each="book : ${books}" th:fragment="bookRow">
  <td>
    <img
      th:src="${book.coverImg}"
      th:alt="${book.title}"
      class="img-fluid rounded"
    />
  </td>
  <td th:text="${book.title}" style="font-size: 14px; font-family: sans-serif">
    Title
  </td>
  <td th:text="${book.author}">Author</td>
  <td th:text="${book.bookFormat}">Format</td>

  <td
    th:if="${!#lists.isEmpty(book.genres)}"
    th:text="${book.genres.size() > 1 ? book.genres[0] + ', ' + book.genres[1] : book.genres[0]}"
  >
    Genres
  </td>

  <td th:if="${#lists.isEmpty(book.genres)}">No Genres</td>
  <td th:text="${book.rating + '/5'}">Rating</td>
  <td>
    <button id="btn-viewDetails" class="bg6-btn">View Details</button>
  </td>
</tr>

<tr th:fragment="noBookFound">
  <td colspan="7" style="color: #ddffff">No Books Found</td>
</tr>
