<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search Books</title>
    <script src="https://unpkg.com/htmx.org@2.0.2"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" th:href="@{/css/global.css}" />
    <link rel="stylesheet" th:href="@{/css/search.css}" />
  </head>

  <body hx-boost="true" class="space-mono-regular">
    <nav id="header">
      <ul>
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="40"
            height="40"
            viewBox="0 0 24 24"
            fill="none"
            stroke="#80ffb9"
            stroke-width="1"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M4 19.5A2.5 2.5 0 016.5 17H20" />
            <path
              d="M6.5 2H20v20H6.5A2.5 2.5 0 014 19.5v-15A2.5 2.5 0 016.5 2z"
            />
          </svg>
          <span id="header-title" class="space-mono-bold">Library</span>
          <span style="color: white">(Member)</span>
        </li>
        <li>
          <button
            id="account-btn"
            hx-get="/searchPage/account"
            hx-trigger="click"
            hx-target="#content"
          >
            <svg
              width="32px"
              height="32px"
              fill="#ddffff"
              viewBox="0 0 36 36"
              preserveAspectRatio="xMidYMid meet"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
            >
              <path
                d="M18,17a7,7,0,1,0-7-7A7,7,0,0,0,18,17ZM18,5a5,5,0,1,1-5,5A5,5,0,0,1,18,5Z"
                class="clr-i-outline clr-i-outline-path-1"
              />
              <path
                d="M30.47,24.37a17.16,17.16,0,0,0-24.93,0A2,2,0,0,0,5,25.74V31a2,2,0,0,0,2,2H29a2,2,0,0,0,2-2V25.74A2,2,0,0,0,30.47,24.37ZM29,31H7V25.73a15.17,15.17,0,0,1,22,0h0Z"
                class="clr-i-outline clr-i-outline-path-2"
              />
            </svg>
            Account
          </button>
        </li>
      </ul>
    </nav>
    <!-- Search Section -->
    <div id="search">
      <p>Search Books</p>

      <form
        id="searchForm"
        hx-get="/book/search-request"
        hx-target="#bookRow"
        hx-trigger="submit"
        hx-include="#searchInput, #searchBy, .genre-checkbox:checked"
      >
        <input
          type="text"
          id="searchInput"
          name="searchInput"
          placeholder="Search ..."
          value="hunger"
        />
        <button id="searchBtn" class="bg6-btn" type="submit">Search</button>

        <!-- Search By Dropdown -->
        <!-- <div class="dropdown">
          <button
            class="bg6-btn dropdown-toggle"
            type="button"
            id="searchByBtn"
            data-bs-toggle="dropdown"
          >
            Search by
          </button>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="#" data-search-by="Title">Title</a>
            </li>
            <li>
              <a class="dropdown-item" href="#" data-search-by="Author"
                >Author</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#" data-search-by="ISBN">ISBN</a>
            </li>
          </ul>
        </div> -->

        <!-- <input type="hidden" id="searchBy" name="searchBy" value="title" />
        <div class="dropdown">
          <button
            class="bg6-btn dropdown-toggle"
            type="button"
            id="filterBtn"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Filter by Genre
          </button>
          <ul class="dropdown-menu" aria-labelledby="filterBtn">
            <li th:each="genre : ${genres}">
              <label class="dropdown-item">
                <input
                  type="checkbox"
                  class="genre-checkbox"
                  name="genre"
                  th:value="${genre.genreName}"
                />
                <span th:text="${genre.genreName}"></span>
              </label>
            </li>
          </ul>
        </div> -->
      </form>

      <div class="btn-group" role="group">
        <button class="bg6-btn me-2">Recently Added</button>
        <button class="bg6-btn me-2">Trending Now</button>

        <div class="dropdown">
          <button class="bg6-btn dropdown-toggle" data-bs-toggle="dropdown">
            View As
          </button>
          <ul class="dropdown-menu text-center">
            <li>
              <label>List</label>
            </li>
            <li>
              <label>Grid</label>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- List Book Section -->
    <div id="content">
      <p style="color: #ddffff">Recently Added</p>

      <!-- Table to display books -->
      <table
        id="bookTable"
        class="table text-center align-middle"
        style="background-color: #202d3c"
      >
        <!-- Table Header -->
        <thead>
          <tr>
            <th scope="col" style="width: 10%">Image</th>
            <th scope="col" style="width: 20%">Title</th>
            <th scope="col" style="width: 15%">Author</th>
            <th scope="col" style="width: 10%">Format</th>
            <th scope="col" style="width: 20%">Genres</th>
            <th scope="col" style="width: 10%">Rating</th>
            <th scope="col" style="width: 15%">Details</th>
          </tr>
        </thead>

        <tbody id="bookRow">
          <div th:replace="~{fragments/search :: bookRow}"></div>
        </tbody>
      </table>
      <!-- Modal for displaying book details -->
      <div id="bookDetailsModal" class="modal fade" tabindex="-1" role="dialog">
        <div
          class="modal-dialog modal-xl modal-dialog-centered"
          role="document"
        >
          <div class="modal-content"></div>
        </div>
      </div>
    </div>
  </body>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <script th:src="@{/js/searchPage.js}"></script>
</html>
