<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search Books</title>
    <script
      src="https://unpkg.com/htmx.org@2.0.2"
      integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ"
      crossorigin="anonymous"
    ></script>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css"
      integrity="sha512-dPXYcDub/aeb08c63jRq/k6GaKccl256JQy/AnOq7CAnEZ9FzSL9wSbcZkMp4R26vBsMLFYH4kQ67/bbV8XaCQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" th:href="@{/css/global.css}" />
  </head>

  <body>
    <nav th:replace="~{fragments/nav}"></nav>
    <main class="container-fluid" style="padding-top: 60px">
      <!-- Search Section -->
      <div id="search">
        <p>Search Books</p>

        <form
          id="searchForm"
          th:hx-get="@{/book/search}"
          hx-target="body"
          hx-swap="outerHTML"
          hx-trigger="submit"
          hx-include="#searchInput, #searchBy, .genre-checkbox:checked"
          hx-push-url="true"
        >
          <input
            type="text"
            id="searchInput"
            name="query"
            placeholder="Search ..."
            th:value="${searchInput}"
            onkeyup="this.setCustomValidity('') // reset the validation on keyup"
            hx-on::validation:validate="
              if(this.value === '') {
                this.setCustomValidity('Vui lòng nhập từ khóa tìm kiếm') // set the validation error
                htmx.find('#searchForm').reportValidity()            // report the issue
              }"
          />
          <button id="searchBtn" class="bg6-btn" type="submit">Search</button>

          <!-- Search By Dropdown -->
          <!-- <div class="dropdown">
          <button
            class="bg6-btn dropdown-toggle"
            type="button"
            id="searchByBtn"
            data-bs-toggle="dropdown"
          >
            Search by
          </button>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="#" data-search-by="Title">Title</a>
            </li>
            <li>
              <a class="dropdown-item" href="#" data-search-by="Author"
                >Author</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#" data-search-by="ISBN">ISBN</a>
            </li>
          </ul>
        </div> -->
          <input type="hidden" id="searchBy" name="by" th:value="${searchBy}" />
          <input
            type="hidden"
            id="page"
            name="page"
            th:value="${currentPage}"
          />
          <!-- <div class="dropdown">
            <button
              class="bg6-btn dropdown-toggle"
              type="button"
              id="filterBtn"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Filter by Genre
            </button>
            <ul class="dropdown-menu" aria-labelledby="filterBtn">
              <li th:each="genre : ${genres}">
                <label class="dropdown-item">
                  <input
                    type="checkbox"
                    class="genre-checkbox"
                    name="genre"
                    th:value="${genre.genreName}"
                  />
                  <span th:text="${genre.genreName}"></span>
                </label>
              </li>
            </ul>
          </div> -->
        </form>

        <!-- <div class="btn-group" role="group">
          <button class="bg6-btn me-2">Recently Added</button>
          <button class="bg6-btn me-2">Trending Now</button>
          <button class="bg6-btn me-2">Top Rated</button>


          <div class="dropdown">
            <button class="bg6-btn dropdown-toggle" data-bs-toggle="dropdown">
              View As
            </button>
            <ul class="dropdown-menu text-center">
              <li>
                <label>List</label>
              </li>
              <li>
                <label>Grid</label>
              </li>
            </ul>
          </div>
        </div> -->
      </div>
      <!-- List Book Section -->
      <div id="content">
        <!-- <p style="color: #ddffff">Recently Added</p> -->

        <!-- Table to display books -->
        <div id="bookTable" th:fragment="bookTable">
          <table class="table text-center align-middle">
            <thead>
              <tr>
                <th scope="col" style="width: 10%">Image</th>
                <th scope="col" style="width: 20%">Title</th>
                <th scope="col" style="width: 15%">Author</th>
                <th scope="col" style="width: 10%">Format</th>
                <th scope="col" style="width: 20%">Genres</th>
                <th scope="col" style="width: 10%">Rating</th>
                <th scope="col" style="width: 15%">Details</th>
              </tr>
            </thead>
            <tbody id="bookRow">
              <tr th:if="${totalPages == 0}" th:fragment="noBookFound">
                <td colspan="7" style="color: #ddffff">No Books Found</td>
              </tr>
              <tr th:each="book : ${books}" th:fragment="bookRow">
                <td>
                  <img
                    th:src="${book.coverImg}"
                    th:alt="${book.title}"
                    class="img-fluid"
                    style="min-width: 100px; min-height: 120px"
                  />
                </td>
                <td
                  th:text="${book.title}"
                  style="font-size: 14px; font-family: sans-serif"
                >
                  Title
                </td>
                <td th:text="${book.author}">Author</td>
                <td th:text="${book.bookFormat}">Format</td>

                <td
                  style="font-size: 14px; padding: 0 20px"
                  th:if="${book.genres != null and not #lists.isEmpty(book.genres)}"
                  th:text="${#strings.listJoin(book.genres, ', ')}"
                >
                  Genres
                </td>

                <td
                  th:if="${#lists.isEmpty(book.genres) || book.genres == null}"
                >
                  No Genres
                </td>

                <td th:text="${book.rating ?: '0' + '/5'}">Rating</td>
                <td>
                  <button
                    class="bg6-btn"
                    th:hx-get="${'/book/details/' + book.bookId}"
                    hx-target="#bookDetailsModal .modal-content"
                    hx-trigger="click"
                    hx-swap="outerHTML"
                    data-bs-toggle="modal"
                    data-bs-target="#bookDetailsModal"
                  >
                    View Details
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <nav th:if="${totalPages > 0}">
            <ul class="pagination justify-content-center">
              <!-- Previous button -->
              <li
                role="button"
                class="page-item"
                th:if="${currentPage > 1}"
                th:hx-get="@{'/book/' + ${searchInput != null ? 'search' : 'home'} + '?page=' + ${currentPage - 1}}"
                hx-include="#searchInput, #searchBy, .genre-checkbox:checked"
                hx-target="body"
                hx-swap="outerHTML show:window:top"
                th:hx-push-url="@{'/book/' + ${searchInput != null ? 'search' : 'home'} + '?page=' + ${currentPage - 1}}"
              >
                <a class="page-link">Previous</a>
              </li>

              <!-- Start Ellipsis -->
              <li class="page-item" th:if="${currentPage > 2}">
                <span class="page-link">...</span>
              </li>

              <!-- Page numbers logic -->
              <li
                role="button"
                th:each="i : ${#numbers.sequence(
                        currentPage <= 2 ? 1 : (currentPage >= totalPages - 3 ? totalPages - 4 : currentPage - 2),
                        currentPage >= totalPages - 3 ? totalPages : (currentPage <= 2 ? 5 : currentPage + 2)
                    )}"
                th:if="${i > 0 and i <= totalPages}"
                class="page-item"
                th:classappend="${i == currentPage} ? 'active'"
              >
                <button
                  th:id="'page-' + ${i}"
                  th:hx-disable="${i == currentPage}"
                  class="page-link"
                  th:hx-get="@{'/book/' + ${searchInput != null ? 'search' : 'home'} + '?page=' + ${i}}"
                  hx-include="#searchInput, #searchBy, .genre-checkbox:checked"
                  hx-target="body"
                  hx-swap="outerHTML show:window:top"
                  th:hx-push-url="@{'/book/' + ${searchInput != null ? 'search' : 'home'} + '?page=' + ${i}}"
                  th:text="${i}"
                ></button>
              </li>

              <!-- End Ellipsis -->
              <li class="page-item" th:if="${currentPage < totalPages - 3}">
                <span class="page-link">...</span>
              </li>

              <!-- Next button -->
              <li
                role="button"
                class="page-item"
                th:if="${currentPage < totalPages - 1}"
                th:hx-get="@{'/book/' + ${searchInput != null ? 'search' : 'home'} + '?page=' + ${currentPage + 1}}"
                hx-include="#searchInput, #searchBy, .genre-checkbox:checked"
                hx-target="body"
                hx-swap="outerHTML show:window:top"
                th:hx-push-url="@{'/book/' + ${searchInput != null ? 'search' : 'home'} + '?page=' + ${currentPage + 1}}"
              >
                <a class="page-link">Next</a>
              </li>

              <!-- Show total pages -->
              <li class="page-item ms-2">
                <span class="page-link user-select-none"
                  >Page <span th:text="${currentPage}"></span> of
                  <span th:text="${totalPages}"></span
                ></span>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </main>

    <div id="bookDetailsModal" class="modal fade" tabindex="-1">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content"></div>
      </div>
    </div>

    <div id="confirmDeleteModal" class="modal fade" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content"></div>
      </div>
    </div>
  </body>
  <script th:inline="javascript">
    // Set the global scroll behavior for HTMX
    htmx.config.scrollBehavior = "smooth";

    // document.body.addEventListener("htmx:beforeRequest", function (event) {
    //   var currentPage = /*[[${currentPage}]]*/ 0;
    //   var targetId = event.detail.elt.id; // Get the ID of the clicked button
    //   var targetPage = targetId.split("-")[1];

    //   console.log(
    //     "Current page is " + currentPage + ", target page is " + targetPage
    //   );

    //   if (parseInt(currentPage) === parseInt(targetPage)) {
    //     console.log("Already on page " + targetPage);
    //     event.preventDefault(); // Prevent the request if already on the current page
    //   }
    // });
  </script>
  <script th:src="@{/js/searchPage.js}"></script>
</html>
