<nav id="header" class="navbar fixed-top">
  <ul class="container-fluid">
    <li>
      <a href="/book/home" class="d-flex">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#80ffb9"
          stroke-width="1"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="M4 19.5A2.5 2.5 0 016.5 17H20" />
          <path
            d="M6.5 2H20v20H6.5A2.5 2.5 0 014 19.5v-15A2.5 2.5 0 016.5 2z"
          />
        </svg>
        <span id="header-title" class="space-mono-bold ms-2">Library</span>
      </a>
      <span th:if="${user.role.name() == 'MEMBER'}" style="color: white"
        >(Member)</span
      >
      <span th:if="${user.role.name() == 'ADMIN'}" style="color: white"
        >(Admin)</span
      >
      <span th:if="${user.role.name() == 'LIBRARIAN'}" style="color: white"
        >(Librarian)</span
      >
      <span
        th:if="${user.status.name() == 'INACTIVE'}"
        class="text-dark bg-warning status-badge"
      >
        (Account Inactive Until Verification by Admin)
      </span>
      <span
        th:if="${user.role.name() == 'MEMBER' && user.status.name() == 'SUSPENDED'}"
        class="text-bg-danger badge"
        role="alert"
      >
        <i class="bi bi-exclamation-triangle-fill"></i>
        (Account Suspended please contact admin or Librarian)</span
      >
    </li>
    <li>
      <a href="/user/details" class="bg6-btn d-flex">
        <i class="bi bi-person" style="font-size: 1.2rem"></i>
        <span class="ps-2" style="align-self: center">Account</span>
      </a>

      <a
        th:if="${user.role.name() == 'ADMIN'}"
        th:href="@{/user/add}"
        class="bg6-btn text-center"
        style="text-decoration: none"
        >Add User</a
      >
      <button
        th:if="${user.role.name() == 'ADMIN' || user.role.name() == 'LIBRARIAN'}"
        th:disabled="${user.status.name() == 'INACTIVE'}"
        th:hx-get="@{/book/add}"
        hx-target="body"
        hx-swap="innerHTML"
        hx-push-url="true"
        class="bg6-btn text-center"
      >
        Add Book
      </button>

      <a
        th:href="@{/logout}"
        class="bg6-btn"
        style="text-decoration: none"
        data-hx-boost="false"
        >Logout</a
      >
    </li>
  </ul>
</nav>
