<nav id="header" class="navbar fixed-top">
  <ul class="container-fluid">
    <li>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="40"
        height="40"
        viewBox="0 0 24 24"
        fill="none"
        stroke="#80ffb9"
        stroke-width="1"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path d="M4 19.5A2.5 2.5 0 016.5 17H20" />
        <path d="M6.5 2H20v20H6.5A2.5 2.5 0 014 19.5v-15A2.5 2.5 0 016.5 2z" />
      </svg>
      <span id="header-title" class="space-mono-bold">Library</span>
      <span th:if="${user.role.name() == 'MEMBER'}" style="color: white"
        >(Member)</span
      >
      <span
        th:if="${user.role.name() == 'MEMBER' && user.status.name() == 'INACTIVE'}"
        class="text-dark bg-warning status-badge"
      >
        (Account Inactive Until Verification by Admin or Librarian)
      </span>
      <span
        th:if="${user.role.name() == 'MEMBER' && user.status.name() == 'SUSPENDED'}"
        class="text-bg-danger badge"
        role="alert"
      >
        <i class="bi bi-exclamation-triangle-fill"></i>
        (Account Suspended please contact admin or Librarian)</span
      >
      <span th:if="${user.role.name() == 'ADMIN'}" style="color: white"
        >(Admin)</span
      >
      <span th:if="${user.role.name() == 'LIBRARIAN'}" style="color: white"
        >(Librarian)</span
      >
    </li>
    <li>
      <button
        class="bg6-btn d-flex"
        hx-get="/user/details?frag=1"
        hx-target="main"
        hx-swap="outerHTML"
        hx-push-url="/user/details"
      >
        <i class="bi bi-person" style="font-size: 1.2rem"></i>
        <span class="ps-2" style="align-self: center">Account</span>
      </button>
      <a
        th:if="${user.role.name() == 'ADMIN' || user.role.name() == 'LIBRARIAN'}"
        th:href="@{/book/add}"
        class="bg6-btn text-center"
        style="text-decoration: none"
        >Add Book</a
      >
      <a
        th:href="@{/logout}"
        class="bg6-btn"
        style="text-decoration: none"
        data-hx-boost="false"
        >Logout</a
      >
    </li>
  </ul>
</nav>
