<!--  No Book Found Fragment -->
<tr th:fragment="noBookFound">
  <td colspan="7" style="color: #ddffff">No Books Found</td>
</tr>

<!-- Book Table -->
<div id="bookTable" th:fragment="bookTable">
  <table class="table text-center align-middle">
    <!-- Table Header -->
    <thead>
      <tr>
        <th scope="col" style="width: 10%">Image</th>
        <th scope="col" style="width: 20%">Title</th>
        <th scope="col" style="width: 15%">Author</th>
        <th scope="col" style="width: 10%">Format</th>
        <th scope="col" style="width: 20%">Genres</th>
        <th scope="col" style="width: 10%">Rating</th>
        <th scope="col" style="width: 15%">Details</th>
      </tr>
    </thead>
    <!-- Table Body -->
    <tbody id="bookRow">
      <tr th:each="book : ${books}" th:fragment="bookRow">
        <td>
          <img
            th:src="${book.coverImg}"
            th:alt="${book.title}"
            class="img-fluid rounded"
          />
        </td>
        <td
          th:text="${book.title}"
          style="font-size: 14px; font-family: sans-serif"
        >
          Title
        </td>
        <td th:text="${book.author}">Author</td>
        <td th:text="${book.bookFormat}">Format</td>

        <td
          style="font-size: 14px; padding: 0 20px"
          th:if="${book.genres != null and not #lists.isEmpty(book.genres)}"
          th:text="${#strings.listJoin(book.genres, ', ')}"
        >
          Genres
        </td>

        <td th:if="${#lists.isEmpty(book.genres) || book.genres == null}">
          No Genres
        </td>

        <td th:text="${book.rating ?: '0' + '/5'}">Rating</td>
        <td>
          <button
            class="bg6-btn"
            th:hx-get="${'/book/details/' + book.bookId}"
            hx-target="#bookDetailsModal .modal-content"
            hx-trigger="click"
            hx-swap="outerHTML"
            data-bs-toggle="modal"
            data-bs-target="#bookDetailsModal"
          >
            View Details
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <nav th:if="${totalPages > 0}">
    <ul class="pagination justify-content-center">
      <!-- Previous button -->
      <li
        role="button"
        class="page-item"
        th:if="${currentPage > 0}"
        th:hx-get="@{'/book/search-request?page=' + ${currentPage > 0 ? currentPage - 1 : 0}}"
        hx-include="#searchInput, #searchBy, .genre-checkbox:checked"
        hx-target="#bookTable"
        hx-swap="outerHTML show:window:top"
      >
        <a class="page-link">Previous</a>
      </li>

      <!-- Start Ellipsis -->
      <li class="page-item" th:if="${currentPage > 2}">
        <span class="page-link">...</span>
      </li>

      <!-- Page numbers logic -->
      <li
        role="button"
        th:each="i : ${#numbers.sequence(
                currentPage <= 2 ? 0 : (currentPage >= totalPages - 3 ? totalPages - 5 : currentPage - 2),
                currentPage >= totalPages - 3 ? totalPages - 1 : (currentPage <= 1 ? 4 : currentPage + 2)
            )}"
        th:if="${i >= 0 and i < totalPages}"
        class="page-item"
        th:classappend="${i == currentPage} ? 'active'"
      >
        <a
          th:if="${topRated == null}"
          class="page-link"
          th:hx-get="@{'/book/search-request?page=' + ${i}}"
          hx-include="#searchInput, #searchBy, .genre-checkbox:checked"
          hx-target="#bookTable"
          hx-swap="outerHTML show:window:top"
          th:text="${i + 1}"
        ></a>

        <a
          th:if="${topRated == true}"
          class="page-link"
          th:hx-get="@{'/book/search?page=' + ${i}} + '&topRated=true'"
          hx-target="#bookTable"
          hx-swap="outerHTML show:window:top"
          th:text="${i + 1}"
        ></a>
      </li>

      <!-- End Ellipsis -->
      <li class="page-item" th:if="${currentPage < totalPages - 3}">
        <span class="page-link">...</span>
      </li>

      <!-- Next button -->
      <li
        role="button"
        class="page-item"
        th:if="${currentPage < totalPages - 1}"
        th:hx-get="@{'/book/search-request?page=' + ${currentPage < totalPages - 1 ? currentPage + 1 : totalPages - 1}}"
        hx-include="#searchInput, #searchBy, .genre-checkbox:checked"
        hx-target="#bookTable"
        hx-swap="outerHTML show:window:top"
      >
        <a class="page-link">Next</a>
      </li>

      <!-- Show total pages -->
      <li class="page-item ms-2">
        <span class="page-link user-select-none"
          >Page <span th:text="${currentPage + 1}"></span> of
          <span th:text="${totalPages}"></span
        ></span>
      </li>
    </ul>
  </nav>
</div>
