<!--  No Book Found Fragment -->
<tr th:fragment="noBookFound">
  <td colspan="7" style="color: #ddffff">No Books Found</td>
</tr>

<!-- Book Row Fragment -->
<tr th:each="book : ${books}" th:fragment="bookRow">
  <td>
    <img
      th:src="${book.coverImg}"
      th:alt="${book.title}"
      class="img-fluid rounded"
    />
  </td>
  <td th:text="${book.title}" style="font-size: 14px; font-family: sans-serif">
    Title
  </td>
  <td th:text="${book.author}">Author</td>
  <td th:text="${book.bookFormat}">Format</td>

  <td
    style="font-size: 14px; padding: 0 20px"
    th:if="${book.genres != null and not #lists.isEmpty(book.genres)}"
    th:text="${#strings.listJoin(book.genres, ', ')}"
  >
    Genres
  </td>

  <td th:if="${#lists.isEmpty(book.genres) || book.genres == null}">
    No Genres
  </td>

  <td th:text="${book.rating + '/5'}">Rating</td>
  <td>
    <button
      class="bg6-btn"
      th:hx-get="${'/book/details/' + book.bookId}"
      hx-target="#bookDetailsModal .modal-content"
      hx-trigger="click"
      hx-swap="outerHTML"
      data-bs-toggle="modal"
      data-bs-target="#bookDetailsModal"
    >
      View Details
    </button>
  </td>
</tr>
