.space-mono-regular {
	font-family: "Space Mono", system-ui;
	font-weight: 400;
	font-style: normal;
}

.space-mono-bold {
	font-family: "Space Mono", system-ui;
	font-weight: 700;
	font-style: normal;
}

.space-mono-regular-italic {
	font-family: "Space Mono", system-ui;
	font-weight: 400;
	font-style: italic;
}

.space-mono-bold-italic {
	font-family: "Space Mono", system-ui;
	font-weight: 700;
	font-style: italic;
}