<div th:fragment="detailModal" class="modal-content">
  <div class="modal-body">
    <div class="d-flex">
      <img
        th:src="${book.coverImg}"
        class="img-fluid rounded shadow-sm me-3"
        alt="Book Cover"
      />

      <div>
        <p class="book-title" th:text="${book.title}">Book Title</p>
        <p class="book-author" th:text="${'by ' + book.author}">by Author</p>
        <p class="book-rating">
          <span th:text="${(book.rating != null ? book.rating : '0') + '/5'}"
            >Rating</span
          >
          <i class="bi bi-star-fill"></i>
          <span
            th:text="'(' + (${book.numRatings} != null ? ${book.numRatings} : '0') + ')'"
            >Number of Ratings</span
          >
          <span
            th:text="'(' + (${book.likedPercent} != null ? ${book.likedPercent} : '0') + '%)'"
            >Liked Percentage</span
          >
        </p>

        <p>
          <strong>Genres:</strong>
          <span
            th:if="${book.genres != null and not #lists.isEmpty(book.genres)}"
          >
            <span th:each="genre, iterStat : ${book.genres}">
              <span
                th:text="${genre.name} + ${iterStat.index < iterStat.size - 1 ? ', ' : ''}"
              ></span>
            </span>
          </span>
          <span th:if="${#lists.isEmpty(book.genres) || book.genres == null}">
            No Genres
          </span>
        </p>

        <p>
          <strong>Pages:</strong>
          <span th:text="${book.pages}">Number of Pages</span>
        </p>
        <p>
          <strong>Format:</strong>
          <span th:text="${book.bookFormat}">Format</span>
        </p>
        <p>
          <strong>ISBN:</strong>
          <span th:text="${book.isbn}">ISBN Number</span>
        </p>
        <p>
          <strong>Published:</strong>
          <span
            th:if="${book.publicationYear != 0}"
            th:text="${book.publicationYear}"
            >Published Year</span
          >
          <span th:if="${book.publicationYear == 0}">Not Available</span>
        </p>
        <p>
          <strong>Quantity:</strong>
          <span th:text="${book.quantity}">Number of Books</span>
        </p>
      </div>
    </div>
  </div>
  <div class="modal-footer justify-content-between">
    <button
      class="btn btn-danger"
      th:if="${(userRole.name() == 'ADMIN' || userRole.name() == 'LIBRARIAN') && userStatus.name() == 'ACTIVE'}"
      th:hx-get="${'/book/delete/' + book.bookId}"
      hx-target="#bookDetailsModal .modal-content"
      hx-swap="innerHTML"
    >
      Delete
    </button>
    <div class="ms-auto">
      <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      <button
        th:if="${(userRole.name() == 'ADMIN' || userRole.name() == 'LIBRARIAN') && userStatus.name() == 'ACTIVE'}"
        th:hx-get="${'/book/edit/' + book.bookId}"
        hx-target="#bookDetailsModal .modal-content"
        hx-swap="innerHTML"
        class="btn btn-primary"
      >
        Edit
      </button>
      <button
        th:if="${userRole.name() == 'MEMBER'} and ${userStatus.name() == 'ACTIVE'}"
        th:hx-post="${'/book/request-borrow/' + book.bookId}"
        hx-target="#bookDetailsModal .modal-content"
        hx-swap="innerHTML"
        class="btn btn-primary"
      >
        Request to Borrow
      </button>
    </div>
  </div>
</div>

<div th:fragment="confirmDeleteModal">
  <div class="modal-header">
    <h5 class="modal-title">Confirm Delete</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
  </div>
  <div
    class="modal-body d-flex justify-content-center align-items-center flex-column"
  >
    <p>Are you sure you want to delete this book?</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
    <button
      id="confirmDeleteBtn"
      class="btn btn-danger"
      th:hx-post="@{'/book/delete/' + ${book.bookId}}"
      hx-target="#bookDetailsModal .modal-content"
      hx-swap="innerHTML"
    >
      Yes
    </button>
  </div>
</div>

<!-- Delete Success Modal -->
<div th:fragment="deleteSuccessModal" class="modal-content">
  <div class="modal-body">
    <p>Book deleted successfully!</p>
  </div>
  <div class="modal-footer">
    <button
      hx-get="/book/search"
      hx-target="body"
      hx-swap="outerHTML"
      class="btn btn-secondary"
      data-bs-dismiss="modal"
    >
      Close
    </button>
  </div>
</div>
